<!doctype html>
<html lang="en">
  <head>
  	<title>Add staff</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- <link rel="stylesheet" href="../public/css/stylex.css"> -->
	<link rel="stylesheet" href="../css/stylex.css">

	</head>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
  async function handleUpdatePost(e) {
      console.log("Deleting post...")
      console.log(e.target.id)
	  console.log(document.getElementById('city').value);
	  console.log(document.getElementById('name').value);
	  console.log(document.getElementById('email').value);
	  

      const postId = e.target.id
      const url = 'http://localhost:7000/usager/' + postId
      try {
          const response = await axios.put(url,{
			username:document.getElementById('name').value,
			email:document.getElementById('email').value,
			city:document.getElementById('city').value,
			user:document.getElementById('user').value,
			isAdmin:document.getElementById('isAdmin').value,
		  })
          console.log(response)
          alert("succès")
          window.location.reload();
      } catch (err) {
        console.error(err.toString())
          alert("succès")
          window.location.reload();
      }
      
  }
</script>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<div id="form-message-warning" class="mb-4"></div> 
									<h2 class="heading-section">Update User</h2>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" name="username" id="name" placeholder="Name" value="<%=Usager.username%>">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<input type="email" class="form-control" name="email" id="email" placeholder="Email" value="<%=Usager.email%>">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="city" id="city" placeholder="City" value="<%=Usager.city%>">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label>Admin</label>
													<input type="text" class="form-control" name="isAdmin" id="isAdmin" placeholder="Admin" value="<%=Usager.isAdmin%>">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label>User</label>
													<input type="text" class="form-control" name="user" id="user" placeholder="user" value="<%=Usager.user%>">
												</div>
											</div>
											
											
											<div class="col-md-12">
												<div class="form-group">
													<input id='<%=Usager._id%>' type="submit" value="Add user" class="btn btn-primary" onclick="handleUpdatePost(event)">
													<div class="submitting"></div>
												</div>
											</div>
										</div>

								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>

	</body>
</html>

